*{margin: 0}
@font-face {
  font-family: 'billy';
  src: url('../css/fonts/billy.eot');
  src: url('../css/fonts/billy.woff2') format('woff2'),
       url('../css/fonts/billy.woff') format('woff'),
       url('../css/fonts/billy.ttf') format('truetype'),
       url('../css/fonts/billy.svg#billy') format('svg'),
       url('../css/fonts/billy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter-Bold';
  src: url('../css/fonts/Bitter-Bold.eot');
  src: url('../css/fonts/Bitter-Bold.woff2') format('woff2'),
       url('../css/fonts/Bitter-Bold.woff') format('woff'),
       url('../css/fonts/Bitter-Bold.ttf') format('truetype'),
       url('../css/fonts/Bitter-Bold.svg#Bitter-Bold') format('svg'),
       url('../css/fonts/Bitter-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter-BoldItalic';
  src: url('../css/fonts/Bitter-BoldItalic.eot');
  src: url('../css/fonts/Bitter-BoldItalic.woff2') format('woff2'),
       url('../css/fonts/Bitter-BoldItalic.woff') format('woff'),
       url('../css/fonts/Bitter-BoldItalic.ttf') format('truetype'),
       url('../css/fonts/Bitter-BoldItalic.svg#Bitter-BoldItalic') format('svg'),
       url('../css/fonts/Bitter-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter-Italic';
  src: url('../css/fonts/Bitter-Italic.eot');
  src: url('../css/fonts/Bitter-Italic.woff2') format('woff2'),
       url('../css/fonts/Bitter-Italic.woff') format('woff'),
       url('../css/fonts/Bitter-Italic.ttf') format('truetype'),
       url('../css/fonts/Bitter-Italic.svg#Bitter-Italic') format('svg'),
       url('../css/fonts/Bitter-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter-Regular';
  src: url('../css/fonts/Bitter-Regular.eot');
  src: url('../css/fonts/Bitter-Regular.woff2') format('woff2'),
       url('../css/fonts/Bitter-Regular.woff') format('woff'),
       url('../css/fonts/Bitter-Regular.ttf') format('truetype'),
       url('../css/fonts/Bitter-Regular.svg#Bitter-Regular') format('svg'),
       url('../css/fonts/Bitter-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.font-red{color: #fd544f}
.titulo-sublinhado::after{content:"";display: inline-block;height: 21px;
width: 100%;background: url('../imgs/sublinhado.png')no-repeat center;}
img{max-width: 100%;}
.wrapper {
  padding-top: 0;
  /* habilita o flex nos filhos diretos */
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  /* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
section{
  float:left;
  width: 100%; 
  height: 100vh;
  text-align: center;
  background: url('../imgs/bg-site.jpg')no-repeat top center;
  background-size: cover;
}
nav{
  z-index: 1;
  border: 1px solid;
  border-top: 0;
  border-bottom: 2px solid #fd544f;
  text-align: center;
  padding-top: 0.3em;
  background: url('../imgs/bg-site.jpg')no-repeat top center;
}
nav ul li{display: inline-block;padding: 0 5em;}
nav ul li a{font-size: 20pt;color: #fff;font-family: billy;text-transform: uppercase;padding-bottom: 10px;}
nav ul li a:hover,nav ul li a:active,nav ul li a:focus{
    color: #fd544f;
    background: url('../imgs/borda-menu.png')no-repeat;
    text-decoration: none;
    background-size: 110%;
    background-position: 0px 15px;
}
#responsive-menu img{    
   position: fixed;
   top: 7px;
}
#modal-menu{
    -webkit-user-select: none;
    z-index: 1;
    position: fixed;
    background-image: url("http://www.animalmade.com/files/css/../images/svg/menu-fs-bg.svg");
    background-size: auto 100%;
    background-repeat: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    visibility: hidden;
    transition: visibility 0.8s;
}
section div{text-align: center;padding-top: 0.8em}
h2{color: #fff;font-size: 3em;text-transform: uppercase;font-family: billy;margin-bottom: 0;margin-top: 1em;}
h3{color: #fff;font-family: Bitter-BoldItalic;}
h4{color: #fff;font-size: 2.2em;text-transform: uppercase;}
#home img{width: 35%;}
#scroll-down img{width: 5%;}
#sobre p{font-size: 1.4em;color: #fff}
.avatar{float: left;margin-left: 11em;max-width: 17%;}
input[type="text"] {
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    outline: none;
}
form {width: 30%;}
select{
  color: #666;
  font-style: italic;
  background-image: url('../img/down-arrow.png');
  background-size: 20px 13px;
}
input.border-input, select{color: #fff;outline:none;border:none;background: url('../imgs/borda-input.png')no-repeat center 100%;width: 100%;background-position: 0px 34px;padding: 1em;}
select.border-input-red{    background: url('../imgs/borda-input-red.png')center no-repeat;
    width: 100%;
    background-position: 0 32px;
    padding: 1em;
    height: 50px;
    background-size: 100%;}
::-webkit-input-placeholder {
   color:#fff;
   font: 14px verdana, arial, sans-serif;
}
input[type="button"]{
  background: url('../imgs/btn-enviar.png')no-repeat center;
    border: none;
    height: 100px;
    width: 100px;
    background-size: 100%;
    text-indent: -9999px;}
:-moz-placeholder {
   color:#fff;
   font: 14px verdana, arial, sans-serif;
}

::-moz-placeholder {
   color:#fff;  
   font: 14px verdana, arial, sans-serif;
}

:-ms-input-placeholder {  
   color:#fff;  
   font: 14px verdana, arial, sans-serif;
}
footer{position: fixed;width: 100%;bottom: 0;text-align: center;color: #fff;font-family: billy;}
footer p{font-family: 'Bitter-Italic';margin:0;}
#copyright{
  padding: 1em;
  text-align: center;
  line-height: 2;
  font-size: 10px;color: #34373f
}
#copyright:before{
  content: "";
  background: url('../imgs/border-footer.png')no-repeat center;
  height: 10px;
  width: 100%;
  display: inline-block;
}
img#mascote{max-width: 30%;}



